body{
    background-image: url(../ATM/image/Picsart_24-05-08_11-23-39-181.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.index-form{
    padding-left: 10rem;
}
label{
    color: white;
}
.processbtn{
    text-decoration: none;
}
.admin-login-form{
    padding-left: 10rem;
}
.atmbtn{
    padding-left: 10rem;
}
